<div class="main">
  <div *ngIf="!recover" class="content">
    <div style="margin-bottom: 30px;">
      <h2>Não possui conta?</h2>
      <div class="border"></div>
      <span>Cadastre-se agora mesmo!</span>
    </div>
    <p>Ao cadastrar sua conta, você será capaz de comprar mais rápido, ficar atualizado sobre a situação de um pedido e acompanhar o histórico dos pedidos que você já fez.</p>
    <button (click)="register()">
      Cadastrar-se
    </button>
  </div>
  <div *ngIf="!recover" class="content">
    <div>
      <h2>Já possui conta?!</h2>
      <div class="border"></div>
      <span>Se você já se cadastrou, faça o login abaixo.</span>
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
      <span style="margin-bottom: 0px; margin-top: 20px;">Email</span>
      <mat-form-field>
        <mat-label>Digite seu email</mat-label>
        <input matInput formControlName="email" placeholder="exemplo@gmail.com" required>
      </mat-form-field>
      <Span style="margin-bottom: 0px; margin-top: 20px;">Senha</Span>
      <mat-form-field>
        <mat-label>Digite sua senha</mat-label>
        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <span>
      <a style="color: #3288af; font-size: 14px; cursor: pointer;" (click)="toggleView1(true)">Esqueceu a senha?</a>
    </span>
      <button type="submit">
        Login
      </button>
    </form>
  </div>

  <div *ngIf="recover" class="content">
      <mat-icon (click)="toggleView1(false)" class="backbtn">arrow_back</mat-icon>
      <h2>Solicitar nova senha</h2>
      <div class="border"></div>
    <form class="form" [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
      <span style="margin-bottom: 0px; margin-top: 20px;">Caso já possua um email cadastrado, preencha o campo abaixo e clique e recuperar, um link será enviado por email para redefinir sua senha.</span>
      <mat-form-field>
        <mat-label>Digite seu email</mat-label>
        <input matInput formControlName="email_recover" placeholder="exemplo@gmail.com" required>
      </mat-form-field>
      <button type="submit">
        Recuperar
      </button>
    </form>
  </div>
</div>

