.main {
  display: flex;
  background-color: #e6e6e6;
}

.leftDiv {
  min-width: 250px;
  min-height: 430px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.884);
  color: white;
}

ul {
  height: 100%;
  width: 100%;
  margin-left: -30px;
}

li {
  display: flex;
  font-size: 19px;
  padding: 20px ;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
  list-style: none;
}

li:hover {
  transition: 1s linear ease;
  font-size: 22px;
  color: #3288af;
}

.rightDiv {
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.089);
  padding: 10px;
}


::ng-deep .mat-tab-group {
  background-color: rgba(25, 25, 25);
}

::ng-deep .mat-tab-label {
  color: #6b6b6b;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::ng-deep .mat-tab-label-active {
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::ng-deep .mat-ink-bar {
  background-color: #5bcbff !important;
}