<div class="main" [@fade]="'in'">

  <div *ngIf="innerWidth > 850" class="leftDiv">
    <ul>
      <li *ngFor="let category of categories" (click)="setCategory(category)">
        <span [ngClass]="{'selected': getSelected(category)}">{{category}}</span>
        <span class="spacer"></span>
        <mat-icon *ngIf="selected===category" style="color: #5bcbff;">arrow_right_alt</mat-icon>
      </li>
    </ul>
  </div>

  <div class="rightDiv">
    <div *ngIf="innerWidth < 851">
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab *ngFor="let category of categories" label="{{category}}" (click)="setCategory(category)"></mat-tab>
      </mat-tab-group>
    </div>


    <div class="top">
      <div style="background-color: rgba(0, 0, 0, 0.815); border-radius: 5px; padding-top: 5px; padding-bottom: 5px;">
        <span style="padding: 10px; color:white;">Ordenar:</span>
      </div>
      <mat-form-field style="width: 100%; margin-left: 5px;">
        <mat-label>Padrão</mat-label>
        <select matNativeControl  (change)="setCategory()" [(ngModel)]="sort">
          <option value="a-z">Nome de A-Z</option>
          <option value="z-a">Nome de Z-A</option>
          <option value="priceLower">Preço (menor para maior)</option>
          <option value="priceHigher">Preço (maior para menor)</option>
        </select>
      </mat-form-field>
    </div>

    <div class="bottom">
      <div  *ngFor="let product of products" style="display: flex;margin: auto; margin-bottom: 20px;">
        <div style="position: relative; float:left; min-width:10px"></div>
        <app-product-card [product]="product"></app-product-card>
        <div style="position: relative; float:right;min-width:10px"></div>
      </div>
    </div>

  </div>
</div>