<footer class="footer">
  <p style="margin-left: 20px;"> &copy; {{ data }} UTech v - 1.0</p>
  <span class="flexExpand"></span>
  <div class="media">
    <p style="margin-right: 5px; height: 20px;">Redes Sociais:</p>
    <span>
      <a href="https://www.instagram.com/utechstore_/" target="_blank">
        <img src="assets/social/intagram.png" style="width: 20px; margin-left: 5px;cursor: pointer;" />
      </a>
    </span>
    <span>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="assets/social/facebook.jpg" style="width: 20px;margin-left: 4px;cursor: pointer;"/>
      </a>
    </span>
    <span>
      <a href="https://web.whatsapp.com/" target="_blank">
        <img src="assets/social/wpp.png" style="width: 20px;margin-left: 10px; margin-right: 40px;cursor: pointer;"/>
      </a>
    </span>
  </div>
</footer>