<footer class="footer">
  <p style="margin-left: 20px;"> &copy; {{ data }} UTech v - 1.0</p>
  <span class="flexExpand"></span>
  <div class="media">
    <p style="margin-right: 5px; height: 20px;">Siga-nos:</p>
    <img src="assets/social/intagram.png" style="width: 20px; margin-left: 5px;cursor: pointer;" />
    <img src="assets/social/facebook.jpg" style="width: 20px;margin-left: 4px;cursor: pointer;"/>
    <img src="assets/social/wpp.png" style="width: 20px;margin-left: 10px; margin-right: 40px;cursor: pointer;"/>
  </div>
</footer>