.footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #3288af;
  color: white;
  position: absolute;
  width: 100%;
}

.flexExpand {
  flex: 2 1 auto;
}

.media {
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.image {
  cursor: pointer;
  width: 25px;
  margin-left: 10px;
}