.navbar {
  background: #3288af;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}


.logo {
  width: 180px;
  margin: 20px 0;
  cursor: pointer;
}

.menuIcon {
  cursor: pointer;
  color: #e6e6e6;
  display: block;
}

.menuItem {
  cursor: pointer;
  display: inline-block;
  align-items: center;
  margin-left: 25px;
  font-size: 15px;
  color: #e6e6e6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-height: 100%;
}

.menuItem:hover {
  color: white;
}

.menuItem2 {
  font-size: 15px;
  color: #e6e6e6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.border {
  width: 100%;
  height: 2px;
  background-color: white;
}

.nav {
  width: 100%;
  display: flex;
}

span {
  padding: 10px;
}

mat-icon {
  vertical-align: middle;
}

::ng-deep .dropDown {
  margin-top: 36px;
  margin-left: -100px;
  background-color:#3288af;
}

