.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background: rgba(45, 45, 45, 0.247);
  height: fit-content;
  width: 100%;
  display:flex;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subNav{
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 200px;
}

.nav{
  background: rgba(45, 45, 45, 0.5);
  height: 40px;
  width: 100%;
  display:flex;
  padding:10px 0px 5px;
  justify-content: center;
}

.form {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 5%;
}

.search {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.685);
  width: 100%;
  padding: 5px;
}


.menuIcon {
  margin-top: 8px;
  margin-right: 15px;
  cursor: pointer;
  color: white;
}

.menuItem {
  list-style: none;
  width: 110px;
  cursor: pointer;
  margin: 0px 20px 0px;
  font-size: 14px;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease;
}

.menuItem:hover {
  font-size: 18px;
  color: white;
}

.selected {
  transition: 0.5s all ease;
  list-style: none;
  width: 110px;
  cursor: pointer;
  margin: 0px 20px 0px;
  font-size: 14px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
}

.itemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menuItem2 {
  cursor: pointer;
  margin: 0px 0px 20px;
  font-size: 15px;
  width: 100%;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}


.spacer {
  flex: 1 1 auto;
}

.border {
  width: 110%;
  height: 2px;
  background-color: white;
}

.border_slim {
  width: 110%;
  height: 0.2px;
}

mat-icon {
  vertical-align: middle;
}

.dropDown {
  padding: 10px;
  display: flex;
  flex-flow: wrap;
  background: rgba(45, 45, 45, 0.5);
  opacity: 1;
  transition: 1s all ease;
}

.hidden {
  margin-right: -1000px;
  margin-top: -330px;
  visibility: hidden;
  opacity: 0;
  transition: 1s all ease;
}


