
.navbar {
  background-color: #3288af;
  border-bottom: 1px solid rgba(0, 0, 0, 0.452);
  height: 90px;
  position: relative;
  top: 0;
  min-width: 955px;
  width: 100%;
}

.flexExpand {
  flex: 2 1 auto;
}

.menuItem {
  cursor: pointer;
  display: flex;
  font-size: 13px;
  color: #e9e9e6;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menuItem:hover {
  color: black;
}

.partner{
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.logo {
  width: 250px;
  margin: 20px;
}

.icons {
  margin-right: 10px;
}


.border {
  width: 110%;
  height: 2px;
  background-color: white;
}