<div>
  <div class="images" style="background-image: url('../../assets/slide/{{images[i]}}.png');">
    <button class="backnext" (click)="cImage()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <img src="/assets/slide/{{images[i]}}.png" style="visibility: hidden; width: 94.5%;" />
    <button class="backnext" (click)="cImage('next')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="content">
    <div style="margin-bottom: 30px;">
      <h2>Recomendados para você!</h2>
      <div class="border"></div>
    </div>
    <div style="display: flex;">
      <div *ngFor="let product of recommended">
        <app-product-card [product] = "product"></app-product-card>
      </div>
    </div>
  </div>
  <div class="content">
    <div>
      <h2>Novidades da loja!</h2>
      <div class="border"></div>
    </div>
    <div style="display: flex;">
      <div *ngFor="let product of news_1">
        <app-product-card [product] = "product"></app-product-card>
      </div>
    </div>
    <div style="display: flex;">
      <div *ngFor="let product of news_2">
        <app-product-card [product] = "product"></app-product-card>
      </div>
    </div>
  </div>
</div>
