.backnext {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}
.backnext:hover {
  background-color: #8d8d8d48;
}

button:focus{
  outline: none;
}

.flexExpand {
  flex: 2 1 auto;
}

.images {
  transition: background-image 1s ease-in-out;
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #edededbb;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h2 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.border {
  width: 35px;
  height: 3px;
  margin-top: -20px;
  margin-left: 5px;
  background-color: black;
}