.sideButtons {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  min-height: 100%;
}
.sideButtons:hover {
  background-color: #8d8d8d48;
}

.flexExpand {
  flex: 2 1 auto;
}

.images {
  transition: background-image 1s ease-in-out;
  display: inline-flex;
  width: 100%;
  background-size: cover;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #edededbb;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h2 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // margin-bottom: 30px;
}

.border {
  width: 35px;
  height: 3px;
  margin-top: -20px;
  margin-left: 5px;
  background-color: black;
}
 .card {
   margin: auto;
   margin-top: 20px;
 }